<div class="jumbotron jumbotron-fluid" style="background-color: darkorange; color:antiquewhite">
    <div class="container row justify-content-center">
        <h1 class="display-4 col-md-6 offset-md-6">Burger Master</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="col-md-6 offset-md-5">Burgers To Eat:</h2>
             <ol class="col-md-6 offset-md-5">
                
                {{#each burgers}}
                {{#unless eaten}}
                {{name}}
                <button class="eaten" data-id="{{id}}" data-neweaten="{{eat}}">
                    Eat!
                </button>
                {{/unless}}
                {{/each}}
            </ol>
       </div>
       <div class="col">
            <h2 class="col-md-6 offset-md-5">Burgers Consumed:</h2>
            <ol class="col-md-6 offset-md-5">
                {{#each burgers}}
                {{#if eaten}}
                <li>{{name}}
                    <button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
                </li>
                 
                {{/if}}
                {{/each}}
            </ol>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <form class="col-md-6 offset-md-4 create-form">
                <div class="col-md-6 offset-md-1 form-group" style="margin-top: 30%;">
                    <input type="text" id="bu" name="name">
                    <button type="submit" id="submit" class="col-md" style="margin-top: 5%;">Add Burger</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col">
            <h3 class="col-md-6 offset-md-3">Add a burger above that you wish to eat</h3>
        </div>
    </div>
</div>
