<ol>
    {{name}}

    <button class="eaten" data-id="{{id}}" data-neweaten="{{eaten}}">
        {{#if eaten}}Eaten!{{else}}Eat UP!{{/if}}
    </button>

    <button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</ol>